@model QUANLYSANBONG.Models.LoaiSan
@{
    ViewData["Title"] = "Cập nhật Loại Sân";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Cập nhật Loại sân: @Model.TenLoaiSan</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <form asp-action="Edit" method="post">
                    <input type="hidden" asp-for="MaLoaiSan" />
                    <partial name="_Form" model="Model" />
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
