USE [master]
GO
/****** Object:  Database [QUANLYSANBONG_DB]    Script Date: 6/4/2026 11:23:58 AM ******/
CREATE DATABASE [QUANLYSANBONG_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYSANBONG_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QUANLYSANBONG_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUANLYSANBONG_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QUANLYSANBONG_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYSANBONG_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYSANBONG_DB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/4/2026 11:23:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BangGiaKhungGio]    Script Date: 6/4/2026 11:23:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangGiaKhungGio](
	[MaBangGia] [int] IDENTITY(1,1) NOT NULL,
	[NgayTrongTuan] [nvarchar](30) NOT NULL,
	[GioBatDau] [time](7) NOT NULL,
	[GioKetThuc] [time](7) NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[PhuThuCaoDiem] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_BangGiaKhungGio] PRIMARY KEY CLUSTERED 
(
	[MaBangGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogCategory]    Script Date: 6/4/2026 11:23:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](100) NOT NULL,
	[Slug] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_BlogCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogPost]    Script Date: 6/4/2026 11:23:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogPost](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](255) NOT NULL,
	[Slug] [nvarchar](255) NOT NULL,
	[MoTaNgan] [nvarchar](500) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[AnhDaiDien] [nvarchar](255) NULL,
	[BlogCategoryId] [int] NOT NULL,
	[NgayDang] [datetime2](7) NOT NULL,
	[ThoiGianDoc] [nvarchar](50) NOT NULL,
	[LuotXem] [int] NOT NULL,
	[NoiBat] [bit] NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[NguoiTaoId] [int] NULL,
 CONSTRAINT [PK_BlogPost] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CaiDatThongBao]    Script Date: 6/4/2026 11:23:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaiDatThongBao](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenThongBao] [nvarchar](max) NOT NULL,
	[MoTa] [nvarchar](max) NOT NULL,
	[DangBat] [bit] NOT NULL,
	[Icon] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_CaiDatThongBao] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDichVu]    Script Date: 6/4/2026 11:23:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDichVu](
	[MaCTDV] [int] IDENTITY(1,1) NOT NULL,
	[MaDatSan] [int] NOT NULL,
	[MaDichVu] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[ThanhTien] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_ChiTietDichVu] PRIMARY KEY CLUSTERED 
(
	[MaCTDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatSan]    Script Date: 6/4/2026 11:23:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatSan](
	[MaDatSan] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[MaSan] [int] NOT NULL,
	[MaBangGia] [int] NULL,
	[NgayDat] [datetime2](7) NOT NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
	[TienCoc] [decimal](18, 2) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[GioBatDau] [time](7) NOT NULL,
	[GioKetThuc] [time](7) NOT NULL,
	[MaSanCon] [int] NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[ThoiLuong] [float] NOT NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_DatSan] PRIMARY KEY CLUSTERED 
(
	[MaDatSan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 6/4/2026 11:23:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[MaDichVu] [int] IDENTITY(1,1) NOT NULL,
	[TenDichVu] [nvarchar](100) NOT NULL,
	[DonViTinh] [nvarchar](30) NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[TonKho] [int] NULL,
 CONSTRAINT [PK_DichVu] PRIMARY KEY CLUSTERED 
(
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHoatDong]    Script Date: 6/4/2026 11:23:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHoatDong](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Thu] [nvarchar](max) NOT NULL,
	[DangHoatDong] [bit] NOT NULL,
	[GioMoCua] [time](7) NOT NULL,
	[GioDongCua] [time](7) NOT NULL,
 CONSTRAINT [PK_GioHoatDong] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 6/4/2026 11:23:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaDatSan] [int] NOT NULL,
	[TienSan] [decimal](18, 2) NOT NULL,
	[TienDichVu] [decimal](18, 2) NOT NULL,
	[GiamGia] [decimal](18, 2) NOT NULL,
	[PhuThu] [decimal](18, 2) NOT NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[PhuongThucThanhToan] [nvarchar](30) NOT NULL,
	[TrangThaiThanhToan] [nvarchar](30) NOT NULL,
	[NgayThanhToan] [datetime2](7) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 6/4/2026 11:23:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [nvarchar](15) NOT NULL,
	[NhomKhach] [nvarchar](30) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSan]    Script Date: 6/4/2026 11:23:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSan](
	[MaLoaiSan] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiSan] [nvarchar](50) NOT NULL,
	[Icon] [nvarchar](50) NULL,
	[MoTa] [nvarchar](200) NULL,
 CONSTRAINT [PK_LoaiSan] PRIMARY KEY CLUSTERED 
(
	[MaLoaiSan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 6/4/2026 11:23:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](100) NOT NULL,
	[MaVaiTro] [int] NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[Email] [nvarchar](100) NULL,
	[HoTen] [nvarchar](100) NULL,
	[SoDienThoai] [nvarchar](15) NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 6/4/2026 11:23:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[MaNguoiDung] [int] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhatKyThaoTac]    Script Date: 6/4/2026 11:23:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhatKyThaoTac](
	[MaNhatKy] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NULL,
	[HanhDong] [nvarchar](100) NOT NULL,
	[ThoiGian] [datetime2](7) NOT NULL,
	[NoiDung] [nvarchar](1000) NULL,
 CONSTRAINT [PK_NhatKyThaoTac] PRIMARY KEY CLUSTERED 
(
	[MaNhatKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanBong]    Script Date: 6/4/2026 11:23:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanBong](
	[MaSan] [int] IDENTITY(1,1) NOT NULL,
	[TenSan] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](200) NULL,
	[TinhThanh] [nvarchar](100) NULL,
	[SoLuongSanCon] [int] NOT NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[MaLoaiSan] [int] NOT NULL,
	[GiaMacDinh] [decimal](18, 2) NOT NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[MoTa] [nvarchar](1000) NULL,
	[SoDienThoai] [nvarchar](15) NULL,
 CONSTRAINT [PK_SanBong] PRIMARY KEY CLUSTERED 
(
	[MaSan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanCon]    Script Date: 6/4/2026 11:23:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanCon](
	[MaSanCon] [int] IDENTITY(1,1) NOT NULL,
	[MaSan] [int] NOT NULL,
	[TenSanCon] [nvarchar](100) NOT NULL,
	[SucChua] [int] NOT NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_SanCon] PRIMARY KEY CLUSTERED 
(
	[MaSanCon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinSan]    Script Date: 6/4/2026 11:23:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinSan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenSan] [nvarchar](max) NOT NULL,
	[SoDienThoai] [nvarchar](max) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Website] [nvarchar](max) NULL,
	[MoTa] [nvarchar](max) NULL,
	[LogoUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_ThongTinSan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 6/4/2026 11:23:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[MaVaiTro] [int] IDENTITY(1,1) NOT NULL,
	[TenVaiTro] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](200) NULL,
 CONSTRAINT [PK_VaiTro] PRIMARY KEY CLUSTERED 
(
	[MaVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260603183348_InitialCreate', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260603185525_UpdateSanConModel', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260603191033_SeedSanCon7To20', N'8.0.0')
GO
SET IDENTITY_INSERT [dbo].[BangGiaKhungGio] ON 

INSERT [dbo].[BangGiaKhungGio] ([MaBangGia], [NgayTrongTuan], [GioBatDau], [GioKetThuc], [DonGia], [PhuThuCaoDiem]) VALUES (1, N'Thu 2 - Thu 6', CAST(N'06:00:00' AS Time), CAST(N'08:00:00' AS Time), CAST(200000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[BangGiaKhungGio] ([MaBangGia], [NgayTrongTuan], [GioBatDau], [GioKetThuc], [DonGia], [PhuThuCaoDiem]) VALUES (2, N'Thu 2 - Thu 6', CAST(N'17:00:00' AS Time), CAST(N'19:00:00' AS Time), CAST(300000.00 AS Decimal(18, 2)), CAST(50000.00 AS Decimal(18, 2)))
INSERT [dbo].[BangGiaKhungGio] ([MaBangGia], [NgayTrongTuan], [GioBatDau], [GioKetThuc], [DonGia], [PhuThuCaoDiem]) VALUES (3, N'Thu 7 - Chu nhat', CAST(N'07:00:00' AS Time), CAST(N'09:00:00' AS Time), CAST(350000.00 AS Decimal(18, 2)), CAST(50000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[BangGiaKhungGio] OFF
GO
SET IDENTITY_INSERT [dbo].[BlogCategory] ON 

INSERT [dbo].[BlogCategory] ([Id], [TenDanhMuc], [Slug], [MoTa], [TrangThai]) VALUES (2, N'Kinh doanh sân', N'kinh-doanh-san', N'Kinh nghiệm kinh doanh sân thể thao', 1)
INSERT [dbo].[BlogCategory] ([Id], [TenDanhMuc], [Slug], [MoTa], [TrangThai]) VALUES (3, N'Xu hướng', N'xu-huong', N'Cập nhật xu hướng thể thao mới nhất', 1)
INSERT [dbo].[BlogCategory] ([Id], [TenDanhMuc], [Slug], [MoTa], [TrangThai]) VALUES (4, N'Hướng dẫn', N'huong-dan', N'Hướng dẫn cho chủ sân và người chơi', 1)
SET IDENTITY_INSERT [dbo].[BlogCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[BlogPost] ON 

INSERT [dbo].[BlogPost] ([Id], [TieuDe], [Slug], [MoTaNgan], [NoiDung], [AnhDaiDien], [BlogCategoryId], [NgayDang], [ThoiGianDoc], [LuotXem], [NoiBat], [TrangThai], [NguoiTaoId]) VALUES (2, N'Hướng Dẫn Mở Sân Pickleball Từ A đến Z', N'huong-dan-mo-san-pickleball', N'Chi phí, vốn và dự toán doanh thu khi kinh doanh sân Pickleball.', N'Nội dung bài viết đang được cập nhật...', NULL, 2, CAST(N'2026-06-04T10:48:21.2895355' AS DateTime2), N'15 phút đọc', 0, 1, 1, NULL)
INSERT [dbo].[BlogPost] ([Id], [TieuDe], [Slug], [MoTaNgan], [NoiDung], [AnhDaiDien], [BlogCategoryId], [NgayDang], [ThoiGianDoc], [LuotXem], [NoiBat], [TrangThai], [NguoiTaoId]) VALUES (3, N'10 Cách Quản Lý Sân Bóng Hiệu Quả', N'10-cach-quan-ly-san-bong-hieu-qua', N'Tăng doanh thu 40% trong 3 tháng với các bí quyết quản lý sau.', N'Nội dung bài viết đang được cập nhật...', NULL, 2, CAST(N'2026-06-04T10:48:21.2895358' AS DateTime2), N'8 phút đọc', 0, 1, 1, NULL)
INSERT [dbo].[BlogPost] ([Id], [TieuDe], [Slug], [MoTaNgan], [NoiDung], [AnhDaiDien], [BlogCategoryId], [NgayDang], [ThoiGianDoc], [LuotXem], [NoiBat], [TrangThai], [NguoiTaoId]) VALUES (4, N'Xu Hướng Sân Pickleball Việt Nam 2025', N'xu-huong-san-pickleball-2025', N'Cơ hội vàng cho các chủ đầu tư trong năm 2025.', N'Nội dung bài viết đang được cập nhật...', NULL, 3, CAST(N'2026-06-04T10:48:21.2895361' AS DateTime2), N'5 phút đọc', 0, 0, 1, NULL)
SET IDENTITY_INSERT [dbo].[BlogPost] OFF
GO
SET IDENTITY_INSERT [dbo].[CaiDatThongBao] ON 

INSERT [dbo].[CaiDatThongBao] ([Id], [TenThongBao], [MoTa], [DangBat], [Icon]) VALUES (1, N'Đặt lịch mới', N'Nhận thông báo khi có khách đặt sân', 1, N'fas fa-plus-circle')
INSERT [dbo].[CaiDatThongBao] ([Id], [TenThongBao], [MoTa], [DangBat], [Icon]) VALUES (2, N'Hủy lịch', N'Nhận thông báo khi khách hủy lịch đặt', 1, N'fas fa-times-circle')
INSERT [dbo].[CaiDatThongBao] ([Id], [TenThongBao], [MoTa], [DangBat], [Icon]) VALUES (3, N'Thanh toán', N'Nhận thông báo xác nhận thanh toán', 1, N'fas fa-check-double')
SET IDENTITY_INSERT [dbo].[CaiDatThongBao] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietDichVu] ON 

INSERT [dbo].[ChiTietDichVu] ([MaCTDV], [MaDatSan], [MaDichVu], [SoLuong], [DonGia], [ThanhTien]) VALUES (1, 9, 1, 1, CAST(10000.00 AS Decimal(18, 2)), CAST(10000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietDichVu] ([MaCTDV], [MaDatSan], [MaDichVu], [SoLuong], [DonGia], [ThanhTien]) VALUES (2, 9, 2, 1, CAST(30000.00 AS Decimal(18, 2)), CAST(30000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ChiTietDichVu] OFF
GO
SET IDENTITY_INSERT [dbo].[DatSan] ON 

INSERT [dbo].[DatSan] ([MaDatSan], [MaKH], [MaSan], [MaBangGia], [NgayDat], [TrangThai], [TienCoc], [GhiChu], [GioBatDau], [GioKetThuc], [MaSanCon], [NgayTao], [ThoiLuong], [TongTien]) VALUES (2, 6, 20, NULL, CAST(N'2026-06-04T00:00:00.0000000' AS DateTime2), N'Cho xac nhan', CAST(0.00 AS Decimal(18, 2)), NULL, CAST(N'07:00:00' AS Time), CAST(N'08:00:00' AS Time), 26, CAST(N'2026-06-04T02:19:38.2458186' AS DateTime2), 1, CAST(120000.00 AS Decimal(18, 2)))
INSERT [dbo].[DatSan] ([MaDatSan], [MaKH], [MaSan], [MaBangGia], [NgayDat], [TrangThai], [TienCoc], [GhiChu], [GioBatDau], [GioKetThuc], [MaSanCon], [NgayTao], [ThoiLuong], [TongTien]) VALUES (3, 5, 16, NULL, CAST(N'2026-06-04T00:00:00.0000000' AS DateTime2), N'Da hoan thanh', CAST(0.00 AS Decimal(18, 2)), NULL, CAST(N'00:00:00' AS Time), CAST(N'00:00:00' AS Time), NULL, CAST(N'2026-06-04T02:33:31.7207262' AS DateTime2), 0, CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[DatSan] ([MaDatSan], [MaKH], [MaSan], [MaBangGia], [NgayDat], [TrangThai], [TienCoc], [GhiChu], [GioBatDau], [GioKetThuc], [MaSanCon], [NgayTao], [ThoiLuong], [TongTien]) VALUES (4, 5, 14, NULL, CAST(N'2026-06-04T00:00:00.0000000' AS DateTime2), N'Cho xac nhan', CAST(0.00 AS Decimal(18, 2)), NULL, CAST(N'00:00:00' AS Time), CAST(N'01:00:00' AS Time), 20, CAST(N'2026-06-04T02:41:20.7691135' AS DateTime2), 1, CAST(5000000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[DatSan] OFF
GO
SET IDENTITY_INSERT [dbo].[DichVu] ON 

INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu], [DonViTinh], [DonGia], [TonKho]) VALUES (1, N'Nuoc suoi', N'Chai', CAST(10000.00 AS Decimal(18, 2)), 99)
INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu], [DonViTinh], [DonGia], [TonKho]) VALUES (2, N'Thue bong', N'Qua', CAST(30000.00 AS Decimal(18, 2)), 9)
INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu], [DonViTinh], [DonGia], [TonKho]) VALUES (3, N'Thue ao bib', N'Bo', CAST(50000.00 AS Decimal(18, 2)), 20)
SET IDENTITY_INSERT [dbo].[DichVu] OFF
GO
SET IDENTITY_INSERT [dbo].[GioHoatDong] ON 

INSERT [dbo].[GioHoatDong] ([Id], [Thu], [DangHoatDong], [GioMoCua], [GioDongCua]) VALUES (1, N'Thứ 2', 1, CAST(N'06:00:00' AS Time), CAST(N'22:00:00' AS Time))
INSERT [dbo].[GioHoatDong] ([Id], [Thu], [DangHoatDong], [GioMoCua], [GioDongCua]) VALUES (2, N'Thứ 3', 1, CAST(N'06:00:00' AS Time), CAST(N'22:00:00' AS Time))
INSERT [dbo].[GioHoatDong] ([Id], [Thu], [DangHoatDong], [GioMoCua], [GioDongCua]) VALUES (3, N'Thứ 4', 1, CAST(N'06:00:00' AS Time), CAST(N'22:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[GioHoatDong] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHD], [MaDatSan], [TienSan], [TienDichVu], [GiamGia], [PhuThu], [TongTien], [PhuongThucThanhToan], [TrangThaiThanhToan], [NgayThanhToan]) VALUES (1, 9, CAST(200000.00 AS Decimal(18, 2)), CAST(40000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(240000.00 AS Decimal(18, 2)), N'Tien mat', N'Da thanh toan', CAST(N'2026-06-04T11:04:29.0000000' AS DateTime2))
INSERT [dbo].[HoaDon] ([MaHD], [MaDatSan], [TienSan], [TienDichVu], [GiamGia], [PhuThu], [TongTien], [PhuongThucThanhToan], [TrangThaiThanhToan], [NgayThanhToan]) VALUES (2, 5, CAST(180000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(180000.00 AS Decimal(18, 2)), N'Chuyen khoan', N'Da thanh toan', CAST(N'2026-06-04T11:10:17.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [SoDienThoai], [NhomKhach], [GhiChu]) VALUES (1, N'Nguyen Van An', N'0901234567', N'Khach quen', N'Hay dat buoi toi')
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [SoDienThoai], [NhomKhach], [GhiChu]) VALUES (2, N'Tran Minh Binh', N'0912345678', N'Khach moi', NULL)
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [SoDienThoai], [NhomKhach], [GhiChu]) VALUES (5, N'Sang', N'090909', N'Khach moi', N'sang@gmail.com')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiSan] ON 

INSERT [dbo].[LoaiSan] ([MaLoaiSan], [TenLoaiSan], [Icon], [MoTa]) VALUES (1, N'Bóng đá', N'fa-futbol', N'Sân bóng đá')
INSERT [dbo].[LoaiSan] ([MaLoaiSan], [TenLoaiSan], [Icon], [MoTa]) VALUES (2, N'Bóng chuyền', N'fa-volleyball', N'Sân bóng chuyền')
INSERT [dbo].[LoaiSan] ([MaLoaiSan], [TenLoaiSan], [Icon], [MoTa]) VALUES (3, N'Bóng rổ', N'fa-basketball', N'Sân bóng rổ')
SET IDENTITY_INSERT [dbo].[LoaiSan] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenDangNhap], [MatKhau], [MaVaiTro], [TrangThai], [Email], [HoTen], [SoDienThoai]) VALUES (1, N'admin', N'123456', 1, 1, N'admin@sanbong.vn', N'Quản trị viên', N'0888888888')
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenDangNhap], [MatKhau], [MaVaiTro], [TrangThai], [Email], [HoTen], [SoDienThoai]) VALUES (2, N'nhanvien', N'123456', 3, 1, N'nhanvien@sanbong.vn', N'Nhân viên', N'0888111222')
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenDangNhap], [MatKhau], [MaVaiTro], [TrangThai], [Email], [HoTen], [SoDienThoai]) VALUES (3, N'ketoan', N'123456', 4, 1, N'ketoan@sanbong.vn', N'Kế toán', N'0888333444')
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [SoDienThoai], [Email], [ChucVu], [MaNguoiDung]) VALUES (1, N'Quan tri vien', N'0900000000', N'admin@sanbong.local', N'Admin', 1)
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [SoDienThoai], [Email], [ChucVu], [MaNguoiDung]) VALUES (2, N'Nhan vien san', N'0911111111', N'nhanvien@sanbong.local', N'Nhan vien', 2)
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [SoDienThoai], [Email], [ChucVu], [MaNguoiDung]) VALUES (3, N'Nhan vien ke toan', N'0922222222', N'ketoan@sanbong.local', N'Ke toan', 3)
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[NhatKyThaoTac] ON 

INSERT [dbo].[NhatKyThaoTac] ([MaNhatKy], [MaNguoiDung], [HanhDong], [ThoiGian], [NoiDung]) VALUES (1, 1, N'Dang nhap', CAST(N'2026-06-04T01:35:41.1390624' AS DateTime2), N'Nguoi dung admin dang nhap he thong')
INSERT [dbo].[NhatKyThaoTac] ([MaNhatKy], [MaNguoiDung], [HanhDong], [ThoiGian], [NoiDung]) VALUES (2, 1, N'Dang nhap', CAST(N'2026-06-04T01:39:01.4712938' AS DateTime2), N'Nguoi dung admin dang nhap he thong')
INSERT [dbo].[NhatKyThaoTac] ([MaNhatKy], [MaNguoiDung], [HanhDong], [ThoiGian], [NoiDung]) VALUES (3, 1, N'Dang nhap', CAST(N'2026-06-04T01:42:52.8045113' AS DateTime2), N'Nguoi dung admin dang nhap he thong')
SET IDENTITY_INSERT [dbo].[NhatKyThaoTac] OFF
GO
SET IDENTITY_INSERT [dbo].[SanBong] ON 

INSERT [dbo].[SanBong] ([MaSan], [TenSan], [DiaChi], [TinhThanh], [SoLuongSanCon], [HinhAnh], [MaLoaiSan], [GiaMacDinh], [TrangThai], [Latitude], [Longitude], [MoTa], [SoDienThoai]) VALUES (1, N'002 PB Club', N'Thủ Đức, Hồ Chí Minh', N'TP. Hồ Chí Minh', 2, N'https://images.unsplash.com/photo-1518605368461-1ee7e1273932?q=80&w=2070&auto=format&fit=crop', 7, CAST(250000.00 AS Decimal(18, 2)), N'Hoat dong', 10.8494, 106.7537, NULL, NULL)
INSERT [dbo].[SanBong] ([MaSan], [TenSan], [DiaChi], [TinhThanh], [SoLuongSanCon], [HinhAnh], [MaLoaiSan], [GiaMacDinh], [TrangThai], [Latitude], [Longitude], [MoTa], [SoDienThoai]) VALUES (2, N'ST PB Club Q8', N'Quận 8, Hồ Chí Minh', N'TP. Hồ Chí Minh', 2, N'https://images.unsplash.com/photo-1526232761682-d26e03ac148e?q=80&w=2029&auto=format&fit=crop', 7, CAST(200000.00 AS Decimal(18, 2)), N'Hoat dong', 10.7415, 106.6342, NULL, NULL)
INSERT [dbo].[SanBong] ([MaSan], [TenSan], [DiaChi], [TinhThanh], [SoLuongSanCon], [HinhAnh], [MaLoaiSan], [GiaMacDinh], [TrangThai], [Latitude], [Longitude], [MoTa], [SoDienThoai]) VALUES (3, N'9196 Sport Q8', N'Quận 8, Hồ Chí Minh', N'TP. Hồ Chí Minh', 1, N'https://images.unsplash.com/photo-1622279457486-62dcc4a431d6?q=80&w=2070&auto=format&fit=crop', 1, CAST(220000.00 AS Decimal(18, 2)), N'Hoat dong', 10.7356, 106.661, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SanBong] OFF
GO
SET IDENTITY_INSERT [dbo].[SanCon] ON 

INSERT [dbo].[SanCon] ([MaSanCon], [MaSan], [TenSanCon], [SucChua], [TrangThai]) VALUES (1, 1, N'Sân PB1', 4, N'Hoat dong')
INSERT [dbo].[SanCon] ([MaSanCon], [MaSan], [TenSanCon], [SucChua], [TrangThai]) VALUES (2, 1, N'Sân PB2', 4, N'Hoat dong')
INSERT [dbo].[SanCon] ([MaSanCon], [MaSan], [TenSanCon], [SucChua], [TrangThai]) VALUES (3, 2, N'Sân PB1', 4, N'Hoat dong')
SET IDENTITY_INSERT [dbo].[SanCon] OFF
GO
SET IDENTITY_INSERT [dbo].[ThongTinSan] ON 

INSERT [dbo].[ThongTinSan] ([Id], [TenSan], [SoDienThoai], [DiaChi], [Email], [Website], [MoTa], [LogoUrl]) VALUES (1, N'SanBong.vn', N'0888888888', N'Linh Trung, Thu Duc, TP.HCM', N'contact@sanbong.vn', N'www.sanbong.vn', N'He thong quan ly san bong chuyen nghiep', NULL)
SET IDENTITY_INSERT [dbo].[ThongTinSan] OFF
GO
SET IDENTITY_INSERT [dbo].[VaiTro] ON 

INSERT [dbo].[VaiTro] ([MaVaiTro], [TenVaiTro], [MoTa]) VALUES (1, N'Admin', N'Quan tri he thong')
INSERT [dbo].[VaiTro] ([MaVaiTro], [TenVaiTro], [MoTa]) VALUES (2, N'Quan ly', N'Quan ly san bong')
INSERT [dbo].[VaiTro] ([MaVaiTro], [TenVaiTro], [MoTa]) VALUES (3, N'Nhan vien', N'Nhan vien dat san va dich vu')
SET IDENTITY_INSERT [dbo].[VaiTro] OFF
GO
/****** Object:  Index [IX_BlogPost_BlogCategoryId]    Script Date: 6/4/2026 11:23:59 AM ******/
CREATE NONCLUSTERED INDEX [IX_BlogPost_BlogCategoryId] ON [dbo].[BlogPost]
(
	[BlogCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BlogPost_NguoiTaoId]    Script Date: 6/4/2026 11:23:59 AM ******/
CREATE NONCLUSTERED INDEX [IX_BlogPost_NguoiTaoId] ON [dbo].[BlogPost]
(
	[NguoiTaoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietDichVu_MaDatSan]    Script Date: 6/4/2026 11:23:59 AM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietDichVu_MaDatSan] ON [dbo].[ChiTietDichVu]
(
	[MaDatSan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietDichVu_MaDichVu]    Script Date: 6/4/2026 11:23:59 AM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietDichVu_MaDichVu] ON [dbo].[ChiTietDichVu]
(
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DatSan_MaBangGia]    Script Date: 6/4/2026 11:23:59 AM ******/
CREATE NONCLUSTERED INDEX [IX_DatSan_MaBangGia] ON [dbo].[DatSan]
(
	[MaBangGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DatSan_MaKH]    Script Date: 6/4/2026 11:23:59 AM ******/
CREATE NONCLUSTERED INDEX [IX_DatSan_MaKH] ON [dbo].[DatSan]
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DatSan_MaSan]    Script Date: 6/4/2026 11:23:59 AM ******/
CREATE NONCLUSTERED INDEX [IX_DatSan_MaSan] ON [dbo].[DatSan]
(
	[MaSan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DatSan_MaSanCon]    Script Date: 6/4/2026 11:23:59 AM ******/
CREATE NONCLUSTERED INDEX [IX_DatSan_MaSanCon] ON [dbo].[DatSan]
(
	[MaSanCon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HoaDon_MaDatSan]    Script Date: 6/4/2026 11:23:59 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_HoaDon_MaDatSan] ON [dbo].[HoaDon]
(
	[MaDatSan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NguoiDung_MaVaiTro]    Script Date: 6/4/2026 11:23:59 AM ******/
CREATE NONCLUSTERED INDEX [IX_NguoiDung_MaVaiTro] ON [dbo].[NguoiDung]
(
	[MaVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NguoiDung_TenDangNhap]    Script Date: 6/4/2026 11:23:59 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_NguoiDung_TenDangNhap] ON [dbo].[NguoiDung]
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NhanVien_MaNguoiDung]    Script Date: 6/4/2026 11:23:59 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_NhanVien_MaNguoiDung] ON [dbo].[NhanVien]
(
	[MaNguoiDung] ASC
)
WHERE ([MaNguoiDung] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NhatKyThaoTac_MaNguoiDung]    Script Date: 6/4/2026 11:23:59 AM ******/
CREATE NONCLUSTERED INDEX [IX_NhatKyThaoTac_MaNguoiDung] ON [dbo].[NhatKyThaoTac]
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanBong_MaLoaiSan]    Script Date: 6/4/2026 11:23:59 AM ******/
CREATE NONCLUSTERED INDEX [IX_SanBong_MaLoaiSan] ON [dbo].[SanBong]
(
	[MaLoaiSan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanCon_MaSan]    Script Date: 6/4/2026 11:23:59 AM ******/
CREATE NONCLUSTERED INDEX [IX_SanCon_MaSan] ON [dbo].[SanCon]
(
	[MaSan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DatSan] ADD  DEFAULT ('00:00:00') FOR [GioBatDau]
GO
ALTER TABLE [dbo].[DatSan] ADD  DEFAULT ('00:00:00') FOR [GioKetThuc]
GO
ALTER TABLE [dbo].[DatSan] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [NgayTao]
GO
ALTER TABLE [dbo].[DatSan] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [ThoiLuong]
GO
ALTER TABLE [dbo].[DatSan] ADD  DEFAULT ((0.0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[BlogPost]  WITH CHECK ADD  CONSTRAINT [FK_BlogPost_BlogCategory_BlogCategoryId] FOREIGN KEY([BlogCategoryId])
REFERENCES [dbo].[BlogCategory] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BlogPost] CHECK CONSTRAINT [FK_BlogPost_BlogCategory_BlogCategoryId]
GO
ALTER TABLE [dbo].[BlogPost]  WITH CHECK ADD  CONSTRAINT [FK_BlogPost_NguoiDung_NguoiTaoId] FOREIGN KEY([NguoiTaoId])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[BlogPost] CHECK CONSTRAINT [FK_BlogPost_NguoiDung_NguoiTaoId]
GO
ALTER TABLE [dbo].[ChiTietDichVu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDichVu_DatSan_MaDatSan] FOREIGN KEY([MaDatSan])
REFERENCES [dbo].[DatSan] ([MaDatSan])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDichVu] CHECK CONSTRAINT [FK_ChiTietDichVu_DatSan_MaDatSan]
GO
ALTER TABLE [dbo].[ChiTietDichVu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDichVu_DichVu_MaDichVu] FOREIGN KEY([MaDichVu])
REFERENCES [dbo].[DichVu] ([MaDichVu])
GO
ALTER TABLE [dbo].[ChiTietDichVu] CHECK CONSTRAINT [FK_ChiTietDichVu_DichVu_MaDichVu]
GO
ALTER TABLE [dbo].[DatSan]  WITH CHECK ADD  CONSTRAINT [FK_DatSan_BangGiaKhungGio_MaBangGia] FOREIGN KEY([MaBangGia])
REFERENCES [dbo].[BangGiaKhungGio] ([MaBangGia])
GO
ALTER TABLE [dbo].[DatSan] CHECK CONSTRAINT [FK_DatSan_BangGiaKhungGio_MaBangGia]
GO
ALTER TABLE [dbo].[DatSan]  WITH CHECK ADD  CONSTRAINT [FK_DatSan_KhachHang_MaKH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DatSan] CHECK CONSTRAINT [FK_DatSan_KhachHang_MaKH]
GO
ALTER TABLE [dbo].[DatSan]  WITH CHECK ADD  CONSTRAINT [FK_DatSan_SanBong_MaSan] FOREIGN KEY([MaSan])
REFERENCES [dbo].[SanBong] ([MaSan])
GO
ALTER TABLE [dbo].[DatSan] CHECK CONSTRAINT [FK_DatSan_SanBong_MaSan]
GO
ALTER TABLE [dbo].[DatSan]  WITH CHECK ADD  CONSTRAINT [FK_DatSan_SanCon_MaSanCon] FOREIGN KEY([MaSanCon])
REFERENCES [dbo].[SanCon] ([MaSanCon])
GO
ALTER TABLE [dbo].[DatSan] CHECK CONSTRAINT [FK_DatSan_SanCon_MaSanCon]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_DatSan_MaDatSan] FOREIGN KEY([MaDatSan])
REFERENCES [dbo].[DatSan] ([MaDatSan])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_DatSan_MaDatSan]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDung_VaiTro_MaVaiTro] FOREIGN KEY([MaVaiTro])
REFERENCES [dbo].[VaiTro] ([MaVaiTro])
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FK_NguoiDung_VaiTro_MaVaiTro]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_NguoiDung_MaNguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_NguoiDung_MaNguoiDung]
GO
ALTER TABLE [dbo].[NhatKyThaoTac]  WITH CHECK ADD  CONSTRAINT [FK_NhatKyThaoTac_NguoiDung_MaNguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[NhatKyThaoTac] CHECK CONSTRAINT [FK_NhatKyThaoTac_NguoiDung_MaNguoiDung]
GO
ALTER TABLE [dbo].[SanBong]  WITH CHECK ADD  CONSTRAINT [FK_SanBong_LoaiSan_MaLoaiSan] FOREIGN KEY([MaLoaiSan])
REFERENCES [dbo].[LoaiSan] ([MaLoaiSan])
GO
ALTER TABLE [dbo].[SanBong] CHECK CONSTRAINT [FK_SanBong_LoaiSan_MaLoaiSan]
GO
ALTER TABLE [dbo].[SanCon]  WITH CHECK ADD  CONSTRAINT [FK_SanCon_SanBong_MaSan] FOREIGN KEY([MaSan])
REFERENCES [dbo].[SanBong] ([MaSan])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanCon] CHECK CONSTRAINT [FK_SanCon_SanBong_MaSan]
GO
USE [master]
GO
